#title{
  background-color: #ff4c68;
  color: #fff;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight: bold;
}

.container-fluid{
  padding: 3% 15% 7%;
}

body{
  font-family: 'Montserrat', sans-serif;

}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight:bold;
}

.nav-item{
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: normal;
}


/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title-Image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px){

  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }

}


/* Feature-Icons
.feature-icons{
  color: #ef1872;

}*/


/* FEATURES */
#features{
  padding: 8% 16%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: grey;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.feature-icons{
  color: #ef1872;
  margin-bottom: 1rem;
}

.feature-icons:hover{
  color: #ff4768;

}

/* Testimonial Section*/
#testimonials{
  text-align: center;
  background-color: #ef1872;
  color: #fff;
}

.testimonial-img{
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin: 20px;
}

#press{
  text-align: center;
  background-color: #ef1872;
  padding-bottom: 30px;
}

.press-img{
  margin: 20px;
  width: 15%;
}

.carousel-item{
  padding: 8% 16%;
}


/* Pricing Section */
#pricing{
  text-align: center;
  padding: 8% 16%;
}

.pricing-column{
  padding: 4% 3%;
}


/* CTA SECTION */

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 8% 16%;
}

.cta-h3{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.5;
}

/* Footer section */

#footer{
  padding: 8% 16%;
  text-align: center;
}

.footer-icons{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.footer-p{
  color: grey;
  font-weight: bold;
}
