body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight:bold;
}

.nav-item{
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: normal;
}

/* Sections-Color */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Heading Section */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title-Image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}

/* FEATURES */
#features{
  position: relative;
  /* z-index: 1; */
}

.feature-title{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: grey;
}

.feature-box{
  padding: 5%;
}

.feature-icons{
  color: #ef1872;
  margin-bottom: 1rem;
}

.feature-icons:hover{
  color: #ff4768;

}

/* Testimonial Section*/
#testimonials{
  background-color: #ef1872;
}

.testimonial-img{
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text-h2{
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #ef1872;
  padding-bottom: 30px;
}

.press-img{
  margin: 20px;
  width: 15%;
}

/* Pricing Section */

.pricing-column{
  padding: 4% 3%;
}

.price-text-h2{
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer section */
#footer{
  text-align: center;
}

.footer-icons{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.footer-p{
  color: grey;
  font-weight: bold;
}
